<p>Order successful!</p>
<!-- <p>Price was: <%=@order.total%></p>
<p>Name was: <%=@order.first_name%></p>
<p>Other Name was: <%=@order.last_name%></p>
<p>Topping was: <%=@order.topping%></p>
<p>ID was: <%=@order.id%></p>
<p>Quantity was: <%=@order.quantity%></p> -->
